
{% extends 'navbar.html' %}
{% block content%}
{% if success%}
<p style="color:green; background-color:#d9f5a4; padding: 10px; border-radius: 10px; margin: 1vh 2vw ">Successfully added your API credentials</p>
{%endif%}
<form action="" method="post" style="width:100%">{% csrf_token %}
<div style="background-color:rgb(245, 246, 250); height:60vh; width:50vw; margin: 10vh auto; border-radius:15px; display: flex; flex-direction:column; align-items:center">
    <h3 style="margin-top:10vh">Enter your API Key for {{exchange_name}}</h3>
    
    <div style="width:80%">
        <label for="password">Api Key</label><br>
        <input name="apikey" type="text" style="padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%" />
    </div> 
    <div style="width:80%">
        <label for="password">Secret Key</label><br>
        <input name="apiSecretkey" type="text" style="padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%" />
    </div> 
    <div style="width:80%">
        <label for="password">Account Label</label><br>
        <input name="accountLabel" type="text" style="padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%" value={{exchange_name}} readonly/>
    </div>
    <input type="submit" value="Connect" style="align-self:flex-start; margin-left:10%; height:6vh; width:7vw; background-color:rgb(245, 246, 250); margin-top: 2vh; border: 2px solid black ; font-weight:bold;  border-radius: 5px">

</div>
</form>
{% endblock content%}