<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Ticker Tape</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      },
      {
        "description": "",
        "proName": "BITFINEX:XRPUSD"
      },
      {
        "description": "",
        "proName": "FTX:MATICUSD"
      },
      {
        "description": "",
        "proName": "BINANCEUS:YFIUSD"
      },
      {
        "description": "",
        "proName": "COINBASE:USDTUSD"
      },
      {
        "description": "",
        "proName": "BITFINEX:LINKUSD"
      },
      {
        "description": "",
        "proName": "BINANCEUS:BNBUSD"
      },
      {
        "description": "",
        "proName": "COINBASE:ALGOUSD"
      },
      {
        "description": "",
        "proName": "BINANCEUS:SOLUSD"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "dark",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>
  <!-- TradingView Widget END -->